*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    font-family: cursive;
    text-decoration: none;
    color: white;
}

h1{
    color: brown;
    text-align:center;
}

header{
    background-color: burlywood;
    color: brown;
    padding: 12px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
}

header nav ul {
    display: flex;
    justify-content: space-around;
    border-right: 2px solid brown;
    border-left: 2px solid brown;

}

footer{
    background: linear-gradient(rgb(88, 18, 18) ,rgb(133, 49, 49), rgb(208, 89, 89), rgb(234, 204, 204));
}

footer h2{
    color: rgba(236, 11, 11, 0.836);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.div-redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.div-redes {

    text-decoration: none;
    font-size: 2rem;
    color: black;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, );
    padding: 6px;


}

h4{
    text-align: center;
    font-size: 0.5rem;
    color: darkred;
    background-color: rgba(0, 0, 0, 0.877);
}

.seccion-1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
}
.index h2{
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    
}
.index p{
    color: brown;
    font-family: cursive;
    font-size: 0.6rem;
}

.index h2{
    color: brown;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}


.index h3{
    color: darkred;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.index p{
    color: brown;
    font-family: cursive;
    font-size: 0.6rem;

}

button:hover{
    transform: scale(2);
}

.articulo-1{
    text-align: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 5px 8px 12px black;
    border-radius: 20px;

}
.container{
width: 100%;
height: 400px;
background-color:rgb(218, 160, 99);
box-shadow: 5px 8px 12px black;
border-radius: 20px;
}

.promociones{
    text-align: center;
}

.producto-promocion{
    border: 2px solid red;
    border-radius: 6px;

    min-width: 200px;
    height: 230px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 10px;

    margin: 10px;

}

.producto-promocion img{
    width: 80%;
    height: 60%;

    border-radius: 8px;

}

.div-promociones{
padding: 15px;

display: block;


}
.ProductoStock{
    text-align: center;
}

iframe{
    width: 80%;
    margin: 10vw;
}
@media (min-width: 480px){

    .index h2{
        font-size: 2rem;
    }
    .index h3{
        font-size: 1.3rem;
    }
    .index p{
        font-size: 0.8rem;
    
    }
    .producto-promocion{
    
        min-width: 260px;
        height: 300px;
    
    }

    .div-promociones{
        
        display: flex;
        overflow-x: scroll;
        
    }

.productos h2{
    font-size: 2rem;
}
.productos h3{
    font-size: 1.3rem;
}
.productos p{
    font-size: 0.8rem;

}

@media (min-width: 1024px){

.body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15vh 1fr 1fr 20vh;
    background-color: beige;

    grid-template-areas: 
    "header header header"
    "index index index"
    "index index index"
    "footer footer footer";
}
.imagen2 {
    position: relative;
    left: 500px;
    top: 5px;

}
.header {
    grid-area: header;
}
.index{
    grid-area: index;
}
.footer{
    grid-area: footer;
}
header{

    flex-direction:row;
    justify-content: space-around;
}

nav{
    width: 45%;
}

.index h2{
    font-size: 3rem;
}

.index h3{
    font-size: 2rem;
}

.index p{
    font-size: 1rem;
}

.div-promociones{
    justify-content: space-around;
}

.div-promociones{

    overflow-x:hidden;
    
    }

.productos{
    text-align: center;
}

.productos h2{
    font-size: 3rem;
}
.productos h3{
    font-size: 2rem;
}
.productos p{
    font-size: 1rem;
}

.formulario{
    margin-left: 450px;
    display: flex;
    text-align:center;
    align-items: center;
    height: 400px;
    width: 450px;
    display: flex;
    border-radius: 20%;
    border-style: dotted;
}
.mapa2{
    margin-left: 450px;
    
}
.mapa3{
    margin-left: 350px}